// Дебаггинг -----------------------------------------------------------------------------------------------------------
$grid-debugger: true;

// Основные классы -----------------------------------------------------------------------------------------------------
$grid-container-class: 'container';
$grid-container-padding: 15px;
$grid-row-class: 'row';

$grid-col-count: 12;
$grid-col-prefix: '';
$grid-col-padding: 15px;

// Брейкпоинты ---------------------------------------------------------------------------------------------------------
$grid-breakpoints: (
        xl: (min: 1200px, container: 1140px, container-padding: $grid-container-padding, col-padding: $grid-col-padding),
        lg: (min: 992px, container: 960px, container-padding: $grid-container-padding, col-padding: $grid-col-padding),
        md: (min: 768px, container: 720px, container-padding: $grid-container-padding, col-padding: $grid-col-padding),
        sm: (min: 576px, container: 540px, container-padding: $grid-container-padding, col-padding: $grid-col-padding),
        xs: (min: 0px, container: 100%, container-padding: $grid-container-padding, col-padding: $grid-col-padding),
);

// Вынести основные стили ячеек в общий класс
$grid-col-general-class: true;
$grid-col-general-class-name: 'col';

// Вспомогательные классы ----------------------------------------------------------------------------------------------
// Смещение ячеек. Добавляет отступ слева
$grid-offset-classes-enable: true;
$grid-offset-classes-prefix: 'offset-';
$grid-offset-classes-postfix: '';
$grid-offset-max: 11;

// Изменение порядка вывода
$enable-grid-order-classes: true;
$grid-order-classes-prefix: 'order-';
$grid-order-classes-postfix: '';
$grid-order-max: 6;