// Подготовка мапы с перечнем параметров для вывода
@function bs-firegrid-build-style-map($attr) {
  $styleMap: ();
  // Создаём пустую мапу с перечнем брейкпоинтов
  @each $bpName, $bpParam in $grid-breakpoints {
    $styleMap: map-merge($styleMap, ($bpName: ()));
  }

  // Перебираем параметры и привязываем их к брейкпоинтам
  @each $attrName, $attrParams in $attr {
    @if(type-of($attrParams) == map){
      @each $bp, $val in $attrParams {
        $bpMap: map-get($styleMap, $bp);
        $bpMap: map-merge($bpMap, ($attrName: $val));
        $styleMap: map-merge($styleMap, ($bp: $bpMap));
      }
    }
    @else {
      $styleMap: map-merge($styleMap, (map-first-key($styleMap): ($attrName: $attrParams)));
    }
  }

  @return $styleMap;
}

@mixin bs-firegrid-print-style($mapStyle){
  @each $param, $value in $mapStyle {
    #{$param}: #{$value};
  }
}

@mixin bs-firegrid-print-media-map($mediaStyleMap) {
  $bpFirstKey: map-first-key($grid-breakpoints);
  @each $bpKey, $paramsMap in $mediaStyleMap {
    // Верхний брейпоинт выводим без media
    @if($bpFirstKey == $bpKey){
      @include bs-firegrid-print-style($paramsMap);
    }
    @else
    {
      @include gridMedia($bpKey){
        @include bs-firegrid-print-style($paramsMap);
      }
    }
  }
}

// Штука, которая правильно раскрывает медиа стили
@mixin add-media($attr:"", $data:"") {
  @if type-of($attr) != map {
    $attr: ($attr: $data);
  }

  $mapParams: bs-firegrid-build-style-map($attr);
  @include bs-firegrid-print-media-map($mapParams);
}
